@charset "utf-8";

.scrollV{border:1px solid #ccc;padding:10px; width:91px;}
.scrollV a{display:block; height:16px; width:91px; overflow:hidden; background:url('../images/btn.png') no-repeat center top;}
.scrollV a.btn-up{margin-bottom:10px;}
.scrollV a.btn-down{background-position: center -16px; margin-top:10px;}
.scrollV div {height:391px; *height:397px; overflow:hidden; *position:relative;}
.scrollV div ul {position:relative;}
.scrollV div ul li img{display:block; height:91px; width:91px; padding-bottom:9px;}

